{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="title">Recherche</h1>


	<form method="get" id="container">
		{{ form_start(form) }}
		{{ form_row(form.titre) }}
		<button type="submit" class="btnb">
			Chercher
		</button>
		{{ form_end(form) }}
	</form>


		{% for livre in livres %}
        <a href="{{ path('app_livre_show', {'id': livre.id}) }}">
			<section id="book1" class="section-p1">
				<div class="book-container">
					<div class="book">
						<img src="{{ asset('assets/img/' ~ livre.couverture) }}" alt="image du livre">
						<div class="des">
							<span>{{livre.categorie}}</span>
							<h4>{{ livre.titre }}</h4>
							<h5>{{livre.auteur}}</h5>
						</div>
					</div>
				</div>
			</section>
        </a>    
		{% endfor %}

{% endblock %}
